In [6]:
import os # Standard Library
import numpy as np
import pandas as pd

os -> Operating System management
---------------------------------
1. Folder Management
2. Folder Creation, remove

Python Fundamental Data Types
-----------------------------
1. List -> Mutable
2. Tuple -> Immutable
3. Set

['Adaline.py',
 'AdalineSGD.py',
 'Analysis.py',
 'Data',
 'DataScraper.py',
 'Perceptron.py',
 'Results',
 'Test.ipynb',
 '__init__.py',
 '__pycache__']

In [5]:
array = np.zeros(shape=(3, 2))
print(array)

[[0. 0.]
 [0. 0.]
 [0. 0.]]

In [17]:
# One depth/folder below syntax
df1 = pd.read_csv("Data/Iris.csv", index_col=0)

# Root folder Syntax
df2 = pd.read_csv("Iris.csv", index_col=0)

# One depth/folder above syntax
df3 = pd.read_csv("../Iris.csv", index_col=0)

In [18]:
display(df1)

,Sepal_Length(cm),Sepal_Width(cm),Petal_Length(cm),Petal_Width(cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [19]:
display(df2)

,Sepal_Length(cm),Sepal_Width(cm),Petal_Length(cm),Petal_Width(cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [20]:
display(df3)

,Sepal_Length(cm),Sepal_Width(cm),Petal_Length(cm),Petal_Width(cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [21]:
os.listdir()

['Adaline.py',
 'AdalineSGD.py',
 'Analysis.py',
 'Data',
 'DataScraper.py',
 'Iris.csv',
 'Perceptron.py',
 'Results',
 'Test.ipynb',
 '__init__.py',
 '__pycache__']